@tailwind base;
@tailwind components;
@tailwind utilities;

/* Do NOT use @apply for arbitrary values or font-families in Tailwind v4+ */
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
.card {
  @apply bg-white/20 text-white p-8 rounded-3xl backdrop-blur-md border border-white/10;
}